<div>
    <div class="section_wrapper">
        <div style="padding-bottom: 24px;padding-left: 25px;"><h1 style="color:#0c4c8e;font-size: 45px;line-height: 50px;font-weight: 700;letter-spacing: -1px;"><i class="fa-solid fa-minus"></i> Contact</h1> </div>
        <div class="columns-02-5050-02 contact-icons">
            <div>
                <div class="icon-row phone-icon">
                    <a href="tel:5144442822" title="Téléphone" class="opensans font-017 fonthover-05">
                        <div class="contact-element" style="">
                            <div class="icon-back">
                                <i class="fa-solid fa-phone"></i>
                            </div>
                            <div>
                                <h4>Téléphone</h4>
                                <span>514 444-2822</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="icon-row">
                    <a href="mailto:soumission@coffragesphoenix.com" title="Courriel" class="opensans font-017 fonthover-05">
                        <div class="contact-element">
                            <div class="icon-back">
                                <i class="fa-solid fa-envelope"></i>
                            </div>
                            <div>
                                <h4>Courriel</h4>
                                <span>soumission@coffragesphoenix.com</span>
                            </div>
                        </div>
                    </a>
                </div>
                <div class="icon-row location-icon">
                    <a href="https://goo.gl/maps/onLfca1AuNNfueGT9" title="Location" class="opensans font-017 fonthover-05">
                        <div class="contact-element">
                            <div class="icon-back">
                                <i class="fa-solid fa-location-dot"></i>
                            </div>
                            <div>
                                <h4>Location</h4>
                                <span>4625 Chem. Gascon, Mascouche, QC <br>J7K 3C2</span>
                            </div>
                        </div>
                    </a>
                </div>
            </div> 
            <div data-paperform-id="3x3qvay5" style="padding-top: 30px;" *ngIf="!isFrench"></div>
            <div data-paperform-id="fnuyt1e0" style="padding-top: 30px;" *ngIf="isFrench"></div>
        </div>
    </div>


    <div class="slider">
        <div class="absolute container-91pct top-050px left-003pct">
            <p class="bebasneue specialfont-02 color-01">Join us and<br> stay up to date</p>
            <div class="spacer-001"></div> 
            <div class="fonthover-06">
                <a class="reseau-button" href="https://www.facebook.com/coffragesphoenix/" target="_blank" ><i class="fa-brands fa-facebook"></i></a>
                <a class="reseau-button" href="https://www.instagram.com/coffragesphoenix/" target="_blank"><i class="fa-brands fa-instagram"></i></a>
                <a class="reseau-button" href="https://twitter.com/CoffragePhoenix/" title="Twitter" target="_blank"><i class="fa-brands fa-twitter"></i></a>

            </div>
        </div>
        <div id="slider3images">
         <figure>
            <img src="./assets/img/coffrage-fondation-de-beton_001.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 1">
            <img src="./assets/img/coffrage-fondation-de-beton_002.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 2">
            <img src="./assets/img/coffrage-fondation-de-beton_003.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 3">
         </figure>
      </div>
    </div>

</div>

