<div>



    <p>contact works!</p>
    <mat-icon>device_hub</mat-icon>
    <div data-paperform-id="swhmatds">
    <div>
        <div></div>
        <div></div>
    </div>
    <div class="slider">
        <div class="absolute container-91pct top-050px left-003pct">
            <p class="bebasneue specialfont-02 color-01">Join us and<br> stay up to date</p>
            <div class="spacer-001"></div> 
            <a class="button-border" href="https://www.facebook.com/coffragesphoenix/" target="_blank" style="border-radius: 50% 50% 50% 50%;padding: 9px;width: 24px;height: 24px;display: inline-block;font-size: 18px;"><i class="fa-brands fa-facebook"></i></a>
            <a class="button-border" href="https://www.instagram.com/coffragesphoenix/" target="_blank" style="border-radius: 50% 50% 50% 50%;padding: 9px;width: 24px;height: 24px;display: inline-block;margin-left: 8px;font-size: 18px;"><i class="fa-brands fa-instagram"></i></a>
            <a class="button-border" href="https://twitter.com/CoffragePhoenix/" title="Twitter" target="_blank" style="border-radius: 50% 50% 50% 50%;padding: 9px;width: 24px;height: 24px;display: inline-block;margin-left: 8px;font-size: 18px;"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div id="slider3images">
         <figure>
            <img src="./assets/coffrage-fondation-de-beton_001.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 1">
            <img src="./assets/coffrage-fondation-de-beton_002.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 2">
            <img src="./assets/coffrage-fondation-de-beton_003.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 3">
         </figure>
      </div>
    </div>

</div>

