.team {
    margin: 15px auto;
    background: border-box;
    @media only screen and (max-width: 767px) {
        font-size: 16px;
        max-width: 550px ;
        padding-left: 33px!important;
        padding-right: 33px!important;
        
        & img {
            width: 415px !important;
            height: 696px !important;
            margin: 0 auto !important;
        }
    }
    @media only screen and (min-width: 768px) {
        display: grid;
        max-width: 940px;
        grid-template-columns: auto auto;
    }
    & img {
        border-radius: 30px;
        border:1px solid var(--primaryColor);
        height: 100%;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media only screen and (max-width: 768px) {
    .txt {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .prf {
        margin-right: 15px;
        width: 100%;
    }
    .txt {
        margin-left: 15px;
        margin-right: 100px;
    }
    .reviews-boxes {
        display: grid; grid-template-columns: 33.333% 33.333% 33.333%;
    }
}

.about {
    margin: 15px auto;

    @media only screen and (max-width: 767px) {
        max-width: 700px;
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        max-width: 708px;
    }
    @media only screen and (min-width: 960px) and (max-width: 1239px) {
        max-width: 940px;
    }
    @media only screen and (min-width: 1240px) {
        max-width: 1220px;
    }
}
.desc {
    margin: 40px 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    font-size: 16px;
    &-text {
        margin: 30px;
        & h5 {
            font-size: 20px;
            line-height: 30px;
            font-weight: 450;
        }
    }
    &-img {
        margin-right: 5%;
        & img {
            border-radius: 64px;
            border:1px solid var(--primaryColor);
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1239px) {
        &-text {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 959px) {
        display: block;
        align-items: center;
        &-img {
            margin: 30px;
        }
    }
    @media only screen and (max-width: 959px) {
        & h2 {
            font-size: 35px !important;
        }
        & h5 {
            font-size: 17px;
        }
    }
}
.txt {
    font-size: 16px;
}