<div class="about">
    <div style="display: grid;">
        <div style="text-align: center;"><h1>{{'about-us' | translate }}</h1></div>
        <div style="text-align: center;margin-left: auto;margin-right: auto;"><img src="./assets/img/about-swig.svg" alt="about"/></div>
    </div>
    <div class="desc">
        <div class="desc-text">
            <h2 style="text-align: center;">Coffrages Phoenix</h2>
            <h5>{{'desc.p1' | translate }}</h5>
            <p>{{'desc.p2' | translate }}</p>
        </div>
        <div class="desc-img">
            <img src="./assets/img/escalier-de-beton_001.jpg" alt="Escalier de beton" width="780" height="759">
        </div>
    </div>
    <app-values />
    <div class="desc">
        <div class="desc-img">
            <img src="./assets/img/patio2.jpeg" alt="Escalier de beton" width="780" height="759">
        </div>
        <div class="desc-text" style="margin-top: 0;">
            <h2 style="text-align: center; ">Vision</h2>
            <h5>{{'desc.p3' | translate }}</h5>
            <p>{{'desc.p4' | translate }}</p>
        </div>
    </div>
    <app-reviews />
    <div class="team">
        <div class="prf"><img src="./assets/img/DSC06845-2.jpg" alt="ahmad"></div>
        <div class="txt">
            <div class="mcb-column-inner mcb-item-heading-inner"><h2 class="title h2Colored">AHMAD <br>AL-TAHER</h2></div>
            <p class="title">{{'team.h' | translate }}</p>
            <p>{{'team.p' | translate }}</p>
        </div>
    </div>
</div>