<div style="display: grid;">
    <div style="text-align: center;"><h3>About us</h3></div>
    <div class="image_wrapper"><img class="scale-with-grid" src="./assets/img/about-swig.svg" alt="about" title=""></div>
</div>
<div>
    description
</div>
<div>
    values
</div>
<div>
    visiion
</div>
<div>
    review
</div>
<div class="team">
    <div class="prf"><img src="./assets/img/DSC06845-2.jpg" alt="ahmad" style="border-radius: 30px;border:1px solid black;"></div>
    <div class="txt">
        <div class="mcb-column-inner mcb-item-heading-inner"><h2 class="title">AHMAD <br>AL-TAHER</h2></div>
        <h4 class="title">Cursus habitasse vitae pharetra, praesent velit. Neque sagittis quis aliquet sed faucibus convallis morbi metus. Amet ullamcorper ac&nbsp;fames sed blandit dolor lacus turpis lectus quam.</h4>
        <p>Ornare lacus gravida congue in pretium ac neque. Orci et vulputate urna elementum porttitor nisi. Cras nunc morbi et quis molestie senectus senectus massa aliquam. Diam tincidunt non in aliquam tellus risus id fringilla. Vitae adipiscing velit.</p>
    </div>
</div>