.team {
    margin: 15px auto;
    background: border-box;
    @media only screen and (max-width: 767px) {
        font-size: 16px;
        max-width: 550px ;
        padding-left: 33px!important;
        padding-right: 33px!important;
        
        & img {
            width: 415px !important;
            height: 696px !important;
            margin: 0 auto !important;
        }
    }
    @media only screen and (min-width: 768px) {
        display: grid;
        max-width: 940px;
        grid-template-columns: auto auto;
    }
    & img {
        border-radius: 30px;
        border:1px solid var(--primaryColor);
        height: 100%;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media only screen and (max-width: 768px) {
    .txt {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .prf {
        margin-right: 15px;
        width: 100%;
    }
    .txt {
        margin-left: 15px;
        margin-right: 100px;
    }
    .reviews-boxes {
        display: grid; grid-template-columns: 33.333% 33.333% 33.333%;
    }
}

.txt {
    font-size: 16px;
}