<div style="display: grid;">
    <div style="text-align: center;"><h3>About us</h3></div>
    <div class="image_wrapper"><img src="./assets/img/about-swig.svg" alt="about"/></div>
</div>
<div>
    description
</div>
<div>
    values
</div>
<div>
    visiion
</div>
<div class="reviews">
    <div style="text-align: center;">
        <h2>What are customers saying <br> about our work?</h2>
    </div>
    <div class="reviews-boxes">
        <a class="reviews-box" href="https://soumissionrenovation.ca/entrepreneur/coffrages_phoenix" target="_blank" class="reviews-box">
            <div class="reviews-box-img">
                <div class="review-img-wrapper"><img style="max-width: 100%; height: auto;" width="100px" height="100px" src="./assets/img/j.png" alt="about"/></div>
                <div><p>Bon travaux bon prix</p></div>
            </div>
            <div style="color: #ca8f65;">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div><strong>Jean-Guy</strong></div>
        </a>
        <a class="reviews-box" href="https://soumissionrenovation.ca/entrepreneur/coffrages_phoenix" target="_blank">
            <div class="reviews-box-img">
                <div class="review-img-wrapper"><img style="max-width: 100%; height: auto;" width="100px" height="100px" src="./assets/img/a.png" alt="about"/></div>
                <div><p>Excellent entrepreneur expérimenté Respecte pleinement ses engagements Je le recommande</p></div>
            </div>
            <div style="color: #ca8f65;">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div><strong>Gilles</strong></div>
        </a>
        <div class="reviews-box">
            <a href="https://g.co/kgs/49Fy9r" target="_blank" class="reviews-box-img">
                <div class="review-img-wrapper"><img style="max-width: 100%; height: auto;" width="100px" height="100px" src="./assets/img/p.png" alt="about"/></div>
                <div><p>Excellent service!</p></div>
            </a>
            <div style="color: #ca8f65;">
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
                <i class="fa-solid fa-star"></i>
            </div>
            <div>
                <a href="https://www.google.com/maps/contrib/109568392174548078001/reviews" target="_blank" style="color: black;">
                    <strong>Pierre-Olivier Caron Périgny</strong>
                </a>
            </div>
        </div>
    </div>
</div>
<div class="team">
    <div class="prf"><img src="./assets/img/DSC06845-2.jpg" alt="ahmad" style="border-radius: 30px;border:1px solid black;"></div>
    <div class="txt">
        <div class="mcb-column-inner mcb-item-heading-inner"><h2 class="title">AHMAD <br>AL-TAHER</h2></div>
        <h4 class="title">Cursus habitasse vitae pharetra, praesent velit. Neque sagittis quis aliquet sed faucibus convallis morbi metus. Amet ullamcorper ac&nbsp;fames sed blandit dolor lacus turpis lectus quam.</h4>
        <p>Ornare lacus gravida congue in pretium ac neque. Orci et vulputate urna elementum porttitor nisi. Cras nunc morbi et quis molestie senectus senectus massa aliquam. Diam tincidunt non in aliquam tellus risus id fringilla. Vitae adipiscing velit.</p>
    </div>
</div>