
.image_wrapper {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}
h3 {
    font-size: 55px;
    line-height: 62px;
    font-weight: 600;
    letter-spacing: 0px;
    font-family: "Big Shoulders Display",Helvetica,Arial,sans-serif;
    margin-bottom: 15px;
    vertical-align: baseline;
    color: var(--primatyColor);
}
h2 {
    font-family: "Space Grotesk",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen-Sans,Ubuntu,Cantarell,"Helvetica Neue",sans-serif;
    font-size: 55px;
    line-height: 60px;
    font-weight: 500;
    letter-spacing: 0px;
    color: var(--primatyColor);
}
.team {
    margin: 15px auto;
    background: border-box;
    @media only screen and (max-width: 767px) {
        font-size: 16px;
        max-width: 550px ;
        padding-left: 33px!important;
        padding-right: 33px!important;
        
        & img {
            width: 415px !important;
            height: 696px !important;
            margin: 0 auto !important;
        }
    }
    @media only screen and (min-width: 768px) {
        display: grid;
        max-width: 940px;
        grid-template-columns: auto auto;
    }
    & img {
        border-radius: 30px;
        border:1px solid var(--primatyColor);
        height: 100%;
        width: 95%;
        margin-left: 2.5%;
        margin-right: 2.5%;
    }
}

@media only screen and (max-width: 768px) {
    .txt {
        text-align: center;
    }
}
@media only screen and (min-width: 768px) {
    .prf {
        margin-right: 15px;
        width: 100%;
    }
    .txt {
        margin-left: 15px;
        margin-right: 100px;
    }
    .reviews-boxes {
        display: grid; grid-template-columns: 33.333% 33.333% 33.333%;
    }
}
.reviews {
    margin: 15px auto;
    display: grid;

    @media only screen and (max-width: 495px) {
        & h2 {
            font-size: 25px !important;
        }
    }
    @media only screen and (max-width: 767px) {
        padding-left: 33px!important;
        padding-right: 33px!important;
        
        & h2 {
            font-size: 35px;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        & h2 {
            font-size: 45px;
        }
    }
    &-box {
        color: #000;
        padding: 32px;
        text-align: center;
        @media (max-width: 959px) {
            padding: 24px;
        }
    }
    &-box-img {
        flex-direction: column;
        display: flex;
        align-items: center;
        min-height: 208px !important;
    }
    & i {
        color: var(--primatyColor);
    }
}
.review-img-wrapper {
    width: 100px;
    height: 100px;
    margin-bottom: 32px;
    border-radius: 50%;
    border: 12px solid var(--primatyColor);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
    line-height: 0;
    overflow: hidden;
}
.values {
    display: grid;
    grid-template-columns: 25% 25% 25% 25%;
    margin: 15px auto;
    align-items: center;
    text-align: center;
    @media only screen and (max-width: 767px) {
        padding-left: 33px!important;
        padding-right: 33px!important;
        display: block;
        
        &-header h2 {
            font-size: 45px !important;
        }
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        grid-template-columns: 50% 50% !important;
    }

    & h5 {
        margin-bottom: 15px;
        font-size: 20px;
        line-height: 28px;
        font-weight: 500;
        letter-spacing: 0px;
    }
    & i {
        margin-bottom: 24px;
        vertical-align: middle;
        font-size: 60px;
        color: var(--primatyColor);
    }
    &-header {
        text-align: center;
        margin-bottom: 30px;
    }
}
.value {
    padding: 48px;
    border-radius: 24px;
    border:1px solid var(--primatyColor);
    margin: 0px 12px 40px 12px;
    max-height: 400px;
    @media only screen and (max-width: 767px) {
        padding: 24px !important;
    }
    
    @media only screen and (min-width: 960px) and (max-width: 1239px) {
        min-height: 400px !important;
    }
    @media only screen and (min-width: 768px) and (max-width: 959px) {
        min-height: 240px;
    }
    @media only screen and (min-width: 1240px) {
        min-height: 280px;
    }
}
.about {
    margin: 15px auto;

    @media only screen and (max-width: 767px) {
        max-width: 700px;
    }

    @media only screen and (min-width: 768px) and (max-width: 959px) {
        max-width: 708px;
    }
    @media only screen and (min-width: 960px) and (max-width: 1239px) {
        max-width: 940px;
    }
    @media only screen and (min-width: 1240px) {
        max-width: 1220px;
    }
}
.desc {
    margin: 40px 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    &-text {
        margin: 30px;
        & h3 {
            font-size: 45px;
        }
        & h4 {
            font-size: 20px;
            line-height: 30px;
            font-weight: 450;
        }
    }
    &-img {
        margin-right: 5%;
        & img {
            border-radius: 64px;
            border:1px solid var(--primatyColor);
        }
    }
    @media only screen and (min-width: 960px) and (max-width: 1239px) {
        &-text {
            margin-top: 0;
        }
    }

    @media only screen and (max-width: 959px) {
        display: block;
        align-items: center;
        &-img {
            margin: 30px;
        }
    }
    @media only screen and (max-width: 959px) {
        & h3 {
            font-size: 35px;
        }
        & h4 {
            font-size: 17px;
        }
    }
}