
<div class="slider">
    <div class="absolute container-91pct top-050px left-003pct">
        <p class="bebasneue specialfont-02 color-01">COMMERCIAL,<br>INSTITUTIONNEL<br>ET INDUSTRIEL</p>
        <div class="spacer-001"></div> 
        <a class="button-border" [routerLink]="['/soumission']">SOUMISSION&nbsp; &#10095;</a>
        <a name="services"></a>  
    </div>
    <div id="slider3images">
	 <figure>
        <img src="./assets/coffrage-de-beton-commercial_001.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="commercial 1">
        <img src="./assets/coffrage-de-beton-commercial_002.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="commercial 2">
        <img src="./assets/coffrage-de-beton-commercial_003.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="commercial 3">
	 </figure>
    </div>
</div>
<div class="columns-02-5050-02 backgroundcolor-05">
    <div class="container-90pct">
        <p class="opensans font-032">Construction et coffrage commercial</p>
        <p class="opensans font-018">
            La construction commerciale est beaucoup plus complexe que la construction résidentielle;
            que ce soit à cause des nombreuses réglementations des villes, des espaces de travail réduits 
            et des contingences architecturales et autres imprévus. Il importe donc de confier vos 
            exigences à des professionnels expérimentés dans ce genre de construction.
        </p>
        <p class="opensans font-018">
            Coffrages Phoenix vous assure un partenariat de tous les instants afin de vous garantir des lieux 
            commerciaux ou industriels agréables, fonctionnels et attrayants. De plus, nos équipes étant 
            spécialisées dans ce genre de construction, vous serez assuré d’un respect précis de 
            l’échéancier et du budget déterminé.
        </p>
        <p class="opensans font-018">
            De l’analyse du terrain au design, en passant par le choix des matériaux, l’isolation, la climatisation 
            et le chauffage, de la solidité et de l’étanchéité des fondations à la qualité et à la longévité 
            de la toiture, en passant par la fenestration et l’économie d’énergie, nos spécialistes, 
            toujours à l’affût des dernières technologies vous informeront complètement sur toutes 
            les options et les techniques disponibles.
        </p>
        <p class="opensans font-018 italic">
            Faire affaires avec Coffrages Phoenix vous assure une tranquilité d’esprit sans pareil!
        </p>
    </div>
    <div class="container-100pct backgroundimage-01"></div>
</div>
<div class="container-1200px">
    <app-soumission></app-soumission>
</div> 