.suo
.pdb
*.csproj.user
*.user
applicationhost.config
bin/
obj/
.vs/
TestResults/
TestStore/
solutions/PRJ100006.cby.AllProjects/.vs/
src/Legacy/cby.Legacy.Base/packages
.manifest
**.manifest
**/v17
**/obj
**/bin
**/Debug
*.dtbcache.v2
**/.vs
*.user
tests/cby.Tests/cby.Infrastructure.PersistentMemory.FileSystem.Tests/testFiles/
solutions/PRJ100033.MfgStudioV4.0/packages/
solutions/PRJ100009.Services.Sfc/packages
src/Cloud/Mes.Client/.anuglar/
src/Cloud/Mes.Client/.anuglar/cache
**/babel-webpack
**/angular-webpack
src/Cloud/Mes.Client/node_modules/