
<div class="values-header">
    <h2>{{'our-values' | translate }}</h2>
</div>
<div class="values">
    <p-carousel [value]="values" [numVisible]="4" [numScroll]="2" [responsiveOptions]="responsiveOptions">
        <ng-template let-value pTemplate="item">
            <div class="value">
                <div>
                    <i class="fa-solid {{value.icon}}"></i>
                </div>
                <div>
                    <h5>{{ value.h5  | translate }}</h5>
                    <p>{{ value.p | translate }}</p>
                </div>
            </div>
        </ng-template>
    </p-carousel>
</div>