
<div class="slider">
    <div class="absolute container-91pct top-050px left-003pct">
        <p class="bebasneue specialfont-02 color-01">FONDATIONS ET<br>COFFRAGES</p>
        <p class="bebasneue specialfont-06 color-black">Qualité et durabilité<br> avant tout!<br></p>
        <div class="spacer-001"></div> 
        <a class="button-border" [routerLink]="['/soumission']">SOUMISSION&nbsp; &#10095;</a>
        <a name="services"></a>  
    </div>
    <div id="slider2images">
	 <figure>
	    <img src="./assets/coffrage-de-beton-sainte-anne-des-plaines.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-sainte-anne-des-plaines">
	    <img src="./assets/coffrage-de-beton-saint-lin-laurentides.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-saint-lin-laurentides">
	 </figure>
  </div>
</div>
<main>
    <div class="container-1200px padding-060px">
        <div class="columnswithgap-03">
            <div>
                <p class="opensans font-024 fonthover-05 bold"><span>COFFRAGE</span></p>
                <img class="imagehover-02 border-01px" src="./assets/coffrage-de-beton.jpg" alt="Coffrage de béton">
                <div class="spacer-010px"></div>
                <p class="opensans font-014 justify">
                    Que ce soit pour un <strong>escalier</strong>, une <strong>dalle</strong>, une <strong>fondation</strong> ou un <strong>agrandissement</strong>, 
                    nous sommes spécialisés en travaux de <strong>coffrage de béton</strong> dans les secteurs résidentiel et commercial.
                </p>
                <div class="spacer-002"></div>
            </div> 
            <div></div>  
            <div>
                <p class="opensans font-024 fonthover-05 bold">
                <span>FONDATION</span>
                </p>
                <img class="imagehover-02 border-01px" src="./assets/fondation-de-beton.jpg" alt="Fondation de béton">
                <div class="spacer-010px"></div>
                <p class="opensans font-014 justify">
                Que ce soit pour un nouveau bâtiment ou un remplacement, confiez-nous la fabrication ou la réparation
                de votre <strong>fondation de béton</strong>.
                </p>
                <div class="spacer-002"></div>
            </div>  
            <div></div>  
            <div>
                <p class="opensans font-024 fonthover-05 bold">
                <span>ESCALIER DE BÉTON</span>
                </p>
                <img class="imagehover-02 border-01px" src="./assets/escalier-de-beton.jpg" alt="Escalier de béton">
                <div class="spacer-010px"></div>
                <p class="opensans font-014 justify">
                L'une des choses les plus importantes lors de la fabrication d'un <strong>escalier de béton</strong> est le <strong>coffrage</strong>. 
                Un <strong>coffrage</strong> bien fait et l'utilisation d'une bonne qualité de béton assureront une solidité à toutes épreuves.
                </p>
            </div>         
        </div>
        <div class="spacer-003"></div>
        <div class="columnswithgap-03">
                <div>
                    <p class="opensans font-024 fonthover-05 bold">
                    <span>BALCON DE BÉTON</span>
                    </p>
                    <img class="imagehover-02 border-01px" src="./assets/balcon-de-beton.jpg" alt="Balcon de béton">
                    <div class="spacer-010px"></div>
                    <p class="opensans font-014 justify">
                    Nous vous offrons un savoir-faire en fabrication, <strong>resurfaçage</strong> et <strong>revêtement</strong> de 
                    <strong>balcon de béton extérieur</strong>.
                    </p>
                    <div class="spacer-002"></div>
                </div> 
                <div></div>  
                <div>
                    <p class="opensans font-024 fonthover-05 bold">
                    <span>FISSURE</span>
                    </p>
                    <img class="imagehover-02 border-01px" src="./assets/reparation-de-fissure.jpg" alt="Réparation de fissure">
                    <div class="spacer-010px"></div>
                    <p class="opensans font-014 justify">
                    Lorsqu'une <strong>fissure</strong> apparaît dans votre <strong>fondation de béton</strong>, il est important de la faire 
                    réparer le plus rapidement possible afin d'éviter d'autres problèmes de <strong>fondation</strong>.
                    </p>
                    <div class="spacer-002"></div>
                </div>  
                <div></div>  
                <div>
                    <p class="opensans font-024 fonthover-05 bold">
                    <span>RÉPARATION</span>
                    </p>
                    <img class="imagehover-02 border-01px" src="./assets/reparation-de-beton.jpg" alt="Réparation de béton">
                    <a name="soumission"></a> 
                    <div class="spacer-010px"></div>
                    <p class="opensans font-014 justify">
                    Que ce soit pour la <strong>réparation</strong> d'une <strong>fondation</strong> d'une <strong>dalle</strong> ou
                    d'un <strong>escalier de béton</strong>, nous pouvons effectuer toutes sortes de <strong>réparations de béton</strong>.
                    </p>
                    
                </div> 
                    
        </div>
        <app-soumission></app-soumission>
    </div>
</main>
<a name="contact"></a> 