<div class="slider">
    <div class="absolute container-91pct top-050px left-003pct">
        <p class="bebasneue specialfont-02 color-01">{{'home.h1'|translate}}<br>{{'home.h2'|translate}}</p>
        <p class="bebasneue specialfont-06 color-black">{{'home.h3'|translate}}<br> {{'home.h4'|translate}}<br></p>
        <div class="spacer-001"></div> 
        <a class="button-border" [routerLink]="['/soumission']">{{'QUOTE'|translate}}&nbsp; &#10095;</a>
        <a name="services"></a>  
    </div>
    <div id="slider2images">
	 <figure>
	    <img src="./assets/img/coffrage-de-beton-sainte-anne-des-plaines.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-sainte-anne-des-plaines">
	    <img src="./assets/img/coffrage-de-beton-saint-lin-laurentides.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-saint-lin-laurentides">
	 </figure>
  </div>
</div>

<div class="container-1200px padding-060px" style="padding-bottom: 0;">
    <app-values/>
    <div style="text-align: center;margin-bottom: 35px;margin-top: -25px;">
        <button [routerLink]="['/about']" class="blue-button">{{'about-plus' | translate}}</button>
    </div>
    <div class="services-header">
        <h2>{{'our-services' | translate }}</h2>
    </div>
    <div>
        <p-carousel [value]="services" [numVisible]="3" [numScroll]="3" [responsiveOptions]="responsiveOptions">
            <ng-template let-service pTemplate="item">
                <div class="service-item">
                    <img src="./assets/img/{{ service.image }}" [alt]="service.name"/>
                    <p>{{ service.name |translate}}</p>
                </div>
            </ng-template>
        </p-carousel>
    </div>
    <div style="text-align: center;margin-bottom: 35px;margin-top: 15px;">
        <button [routerLink]="['/services']" class="blue-button">{{'services-plus' | translate}}</button>
    </div>
    <app-soumission/>
    <app-reviews />
</div>
