<div class="slider">
    <div class="absolute container-91pct top-050px left-003pct">
        <p class="bebasneue specialfont-02 color-01">{{'home.h1'|translate}}<br>{{'home.h2'|translate}}</p>
        <p class="bebasneue specialfont-06 color-black">{{'home.h3'|translate}}<br> {{'home.h4'|translate}}<br></p>
        <div class="spacer-001"></div> 
        <a class="button-border" [routerLink]="['/soumission']">{{'QUOTE'|translate}}&nbsp; &#10095;</a>
        <a name="services"></a>  
    </div>
    <div id="slider2images">
	 <figure>
	    <img src="./assets/img/coffrage-de-beton-sainte-anne-des-plaines.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-sainte-anne-des-plaines">
	    <img src="./assets/img/coffrage-de-beton-saint-lin-laurentides.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-saint-lin-laurentides">
	 </figure>
  </div>
</div>
<div class="container-1200px padding-060px" style="padding-bottom: 0;">
    <div class="columnswithgap-03">
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'home.p1'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/coffrage-de-beton.jpg" alt="Coffrage de béton">
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">Nos <strong>spécialistes expérimentés</strong> offrent une gamme de solutions
                de <strong>coffrage en béton</strong> pour répondre à tous <strong>vos besoins de construction</strong>. Nous travaillons avec différents types de <strong>coffrages</strong>
                et nous pouvons <strong>vous aider à choisir la solution la plus adaptée pour votre projet</strong>. Avec notre expertise et
                notre équipement de pointe, vous pouvez être assuré que votre projet sera entre de bonnes mains et que vous obtiendrez
                <strong>des résultats durables et esthétiquement satisfaisants</strong>.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">Our <strong>experienced specialists</strong> offer a range of
                <strong>concrete formwork</strong> solutions to meet all <strong>your construction needs</strong>. We work with different types of
                <strong>formwork</strong> and can <strong>help you choose the most suitable solution for your project</strong>. With our expertise and advanced equipment, you can be assured that your project is in good hands and that you will achieve durable and aesthetically satisfying results. </p>
            <div class="spacer-002"></div>
        </div> 
        <div></div>  
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'home.p2'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/fondation.jpg" alt="Fondation de béton">
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">Les fondations en béton sont un élément <strong>crucial</strong> pour tout bâtiment,
                car elles supportent la charge de la structure entière. Le béton est un matériau de construction <strong>solide et durable</strong>
                qui peut résister aux intempéries et aux tremblements de terre. Les fondations en béton peuvent être construites en différentes formes
                et tailles pour s'adapter <strong>aux besoins spécifiques de la structure</strong>, ce qui en fait un choix <strong>polyvalent</strong>
                pour les projets de construction.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">Concrete foundations are a <strong>crucial</strong> element for any building because
		    they support the weight of the entire structure. Concrete is a <strong>strong and durable</strong> construction material that can withstand
		    weather and earthquakes. Concrete foundations can be built in different shapes and sizes to fit the <strong>specific needs of the structure</strong>,
		    making it a <strong>versatile</strong> choice for construction projects.</p>
            <div class="spacer-002"></div>
        </div>  
        <div></div>  
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'concrete-staircase'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/escalier-de-beton.jpg" alt="Escalier de béton">
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">
            L'une des choses les plus importantes lors de la fabrication d'un <strong>escalier de béton</strong> est le <strong>coffrage</strong>. 
            Un <strong>coffrage</strong> bien fait et l'utilisation d'une bonne qualité de béton assureront une solidité à toutes épreuves.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">One of the most important things when making a <strong>concrete staircase</strong>
		    is the <strong>formwork</strong>. A well-made <strong>formwork</strong> and the use of good quality concrete will ensure solid durability.</p>
        </div>         
    </div>
    <div class="spacer-003"></div>
    <div class="columnswithgap-03">
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'concrete-balcony'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/balcon-de-beton.jpg" alt="Balcon de béton">
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">Les balcons en béton sont populaires pour leur <strong>durabilité</strong>, leur <strong>solidité</strong>
                et leur capacité à <strong>résister aux intempéries</strong>. Le béton est un matériau de construction résistant qui peut être moulé
                en une <strong>variété de formes</strong> et de designs pour s'adapter à tous les styles de maison. De plus, les balcons en béton sont
                <strong>faciles à entretenir</strong> et nécessitent <strong>peu de réparations</strong>, ce qui les rend pratiques pour les propriétaires à long terme.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">Concrete balconies are popular for their <strong>durability</strong>, <strong>solidity</strong>,
		    and their ability to <strong>withstand harsh weather conditions</strong>. Concrete is a strong building material that can be molded into a
		    <strong>variety of shapes</strong> and designs to fit any home style. Moreover, concrete balconies are <strong>easy to maintain</strong> and
		    require <strong>minimal repairs</strong>, making them practical for long-term homeowners.</p>
            <div class="spacer-002"></div>
        </div> 
        <div></div>  
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'home.p3'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/descente-de-sous-sol-en-beton_003.png" alt="Réparation de fissure">
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">
                Lors de l'ajout d'une descente ou d'un accès au <strong>sous-sol</strong> de votre propriété,
                il est important de faire appel à des <strong>professionnels</strong> qualifiés pour planifier et installer votre <strong>descente en béton</strong>.
                Le béton est durable, résistant et facile à entretenir, ce qui le rend idéal pour les entrées de sous-sol utilisées régulièrement.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">When adding a <strong>basement entrance</strong> or access to your property, it's important to enlist
		    qualified <strong>professionals</strong> to plan and install your <strong>concrete descent</strong>. Concrete is durable, strong, and easy to maintain,
		    making it ideal for basement entrances that are used regularly.</p>
            <div class="spacer-002"></div>
        </div>  
        <div></div>  
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'home.p4'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/agrandissement.jpg" alt="Réparation de béton">
            <a name="soumission"></a> 
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">
                Lorsque vous agrandissez votre maison, choisissez des matériaux de construction <strong>durables et solides</strong> pour la nouvelle structure.
                Le béton est un choix populaire en raison de sa résistance et de sa polyvalence.
                Il peut être utilisé pour les murs porteurs, les fondations et les dalles de plancher,
                ce qui en fait un <strong>choix idéal</strong> pour les agrandissements de maison.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">When expanding your home, choose <strong>durable and strong</strong> building materials for the
		    new structure. Concrete is a popular choice due to its strength and versatility. It can be used for load-bearing walls, foundations, and floor slabs,
		    making it an <strong>ideal choice</strong> for home expansions.</p>
        </div> 
    </div>
    <div class="spacer-003"></div>
    <div class="columnswithgap-03"style="padding-bottom: 60px;">
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'concrete-dalle'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/dalle.jpeg" alt="Balcon de béton">
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">Les dalles de béton sont utilisées pour une variété de projets de construction,
                notamment les allées, les terrasses et les trottoirs. Le béton est un matériau de construction <strong>durable</strong>,
                résistant et <strong>facile à entretenir</strong>, ce qui en fait un choix populaire pour les dalles.
                Les dalles de béton peuvent être personnalisées en utilisant différentes finitions,
                couleurs et textures pour correspondre à <strong>votre style</strong> et à <strong>vos préférences esthétiques</strong>.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">Concrete slabs are used for a variety of construction projects, including driveways,
		    patios, and sidewalks. Concrete is a <strong>durable</strong>, strong, and <strong>easy-to-maintain</strong> building material,
		    making it a popular choice for slabs. Concrete slabs can be customized using different finishes, colors, and textures to match
		    <strong>your style</strong> and <strong>your aesthetic preferences</strong>.</p>
            <div class="spacer-002"></div>
        </div> 
        <div></div>  
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>Mini excavation</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/excavation.jpg" alt="Mini excavation">
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">Les mini-excavations sont souvent utilisées pour creuser des <strong>tranchées</strong>
                pour les conduites d'eau et des <strong>drains français</strong>, ainsi que pour la <strong>préparation de terrains</strong>.
                Les mini-excavateurs sont compacts et peuvent accéder à des espaces restreints, ce qui les rend pratiques
                pour les projets dans des <strong>zones urbaines denses</strong>. Ils sont également efficaces pour creuser à des profondeurs précises
                et pour effectuer <strong>des travaux délicats</strong> sur les propriétés existantes.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">We also specialize in water pipe and <strong>French drain</strong> installations,
                as well as <strong>site preparation</strong>. Our mini-excavators are compact and can access restricted spaces,
                making them practical for projects in <strong>dense urban areas</strong>. They are also effective for digging at precise
                depths and for performing <strong>delicate work</strong> on existing properties.</p>
            <div class="spacer-002"></div>
        </div>  
        <div></div>  
        <div>
            <p class="opensans font-024 fonthover-05 bold"><span>{{'repair'|translate}}</span></p>
            <img class="imagehover-02 border-01px" src="./assets/img/reparation-de-fissure.jpg" alt="Réparation de béton">
            <a name="soumission"></a> 
            <div class="spacer-010px"></div>
            <p class="opensans font-014 justify" *ngIf="isFrench">
            Que ce soit pour la <strong>réparation</strong> d'une <strong>fondation</strong> d'une <strong>dalle</strong>, d'une <strong>fissure</strong> ou
            d'un <strong>escalier de béton</strong>, nous pouvons effectuer toutes sortes de <strong>réparations de béton</strong>. Il est important de la faire 
            réparer le plus rapidement possible afin d'éviter d'autres problèmes de plus grave.
            </p>
            <p class="opensans font-014 justify" *ngIf="!isFrench">Whether it's repairing a <strong>foundation</strong>, a <strong>slab</strong>, a <strong>crack</strong>, or
                a <strong>concrete staircase</strong>, we can perform all kinds of <strong>concrete repairs</strong>. It is important to repair it as soon as possible to avoid more serious problems.
            </p>
        </div> 
    </div>
    <app-soumission></app-soumission>
</div>
