
<div class="slider">
    <div class="absolute container-91pct top-050px left-003pct">
        <p class="bebasneue specialfont-02 color-01">FONDATIONS,<br>ET COFFRAGES<br>DE BÉTON</p>
        <div class="spacer-001"></div> 
        <a class="button-border" [routerLink]="['/soumission']">SOUMISSION&nbsp; &#10095;</a>
    </div>
    <div id="slider3images">
	 <figure>
        <img src="./assets/img/coffrage-fondation-de-beton_001.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 1">
        <img src="./assets/img/coffrage-fondation-de-beton_002.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 2">
        <img src="./assets/img/coffrage-fondation-de-beton_003.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="Balcon 3">
	 </figure>
  </div>
</div>
<div class="container-95pct padding-060px">
    <div class="alignleft">
        <p class="opensans font-032 color-02">Escaliers, trottoirs et balcons de béton</p>
    </div>
    <div class="columns-03-333333">
            <div><img src="./assets/img/trottoir-de-beton_001.jpg" alt="Trottoir de beton"></div> 
            <div><img src="./assets/img/trottoir-de-beton_002.jpg" alt="Trottoir de beton"></div> 
            <div><img src="./assets/img/balcon-de-beton_001.jpg" alt="Balcon de beton"></div> 
            <div><img src="./assets/img/balcon-de-beton_002.jpg" alt="Balcon de beton"></div> 
            <div><img src="./assets/img/escalier-de-beton_001.jpg" alt="Escalier de beton"></div> 
            <div><img src="./assets/img/escalier-de-beton_002.jpg" alt="Escalier de beton"></div> 
            <div><img src="./assets/img/escalier-trottoir-de-beton_001.jpg" alt="Escalier de beton"></div> 
            <div><img src="./assets/img/escalier-trottoir-de-beton_002.jpg" alt="Escalier de beton"></div> 
            <div><img src="./assets/img/balcon-de-beton_003.jpg" alt="Balcon de beton"></div> 
            <div><img src="./assets/img/balcon-de-beton_004.jpg" alt="Balcon de beton"></div> 
    </div>
    <div class="spacer-005"></div>
    <div class="alignleft">
        <p class="opensans font-032 color-02">Descentes de sous-sol en béton</p>
    </div>
    <div class="columns-02-5050">
            <div><img src="./assets/img/descente-de-sous-sol-en-beton_001.jpg" alt="Descente de beton"></div> 
            <div><img src="./assets/img/descente-de-sous-sol-en-beton_002.jpg" alt="Descente de beton"></div> 
    </div>
    <div class="spacer-005"></div>
    <div class="alignleft">
        <p class="opensans font-032 color-02">Fondations pour agrandissement de maison</p>
    </div>
    <div class="columns-02-5050">
            <div><img src="./assets/img/fondation-agrandissement-de-maison_001.jpg" alt="Agrandissement de maison"></div> 
            <div><img src="./assets/img/spacer_001.jpg" alt="Coffrage de béton"></div> 
    </div>
    <div class="spacer-005"></div>  
    <div class="alignleft">
        <p class="opensans font-032 color-02">Travaux de béton commerciaux</p>
    </div>
    <div class="columns-03-333333">
            <div><img src="./assets/img/coffrage-beton-commercial_001.jpg" alt="Coffrage de beton commercial"></div> 
            <div><img src="./assets/img/coffrage-beton-commercial_002.jpg" alt="Coffrage de beton commercial"></div> 
            <div><img src="./assets/img/coffrage-beton-commercial_003.jpg" alt="Coffrage de beton commercial"></div> 
            <div><img src="./assets/img/coffrage-beton-commercial_004.jpg" alt="Coffrage de beton commercial"></div> 
            <div><img src="./assets/img/coffrage-beton-commercial_005.jpg" alt="Coffrage de beton commercial"></div> 
    </div>
    <div class="spacer-005"></div>
    <div style="text-align: center;margin-top: 20px;">
        <a class="red-button" href="https://www.instagram.com/coffragesphoenix/" target="_blank" >Suivez nos dernières réalisastions sur Instagram <i class="fa-brands fa-instagram"></i></a>
    </div>
</div>
    
