
<div style="display: grid;">
    <div style="text-align: center;"><h1>{{'realizations' | translate }}</h1></div>
    <div style="text-align: center;margin-left: auto;margin-right: auto;"><img src="./assets/img/about-swig.svg" alt="about"/></div>
</div>
<div class="container-95pct">
    <div class="insta-button">
        <a class="red-button" href="https://www.instagram.com/coffragesphoenix/" target="_blank" >{{'realizations.p5' | translate}} <i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="alignleft" style="margin: 30px 0;">
        <h2 class="header-1">{{'realizations.p1' | translate}}</h2>
    </div>
    <div class="columns-03-333333">
        <img src="./assets/img/Marche-en-beton_001.jpg" alt="Marche-en-beton">
        <img src="./assets/img/Marche-en-beton_002.jpg" alt="Marche-en-beton">
        <img src="./assets/img/escalier-de-beton_001.jpg" alt="Marche-de-beton-laurentides">
        <img src="./assets/img/escalier-de-beton_002.jpg" alt="Marche-de-beton-lanaudiere">
        <img src="./assets/img/escalier-de-beton_003.jpeg" alt="Escalier-en-beton">
        <img src="./assets/img/escalier-de-beton_004.jpeg" alt="Escalier-en-beton">
        <img src="./assets/img/escalier-de-beton_005.jpeg" alt="Escalier-de-beton-laurentides">
        <img src="./assets/img/escalier-trottoir-de-beton_001.jpg" alt="Trottoir-en-beton">
        <img src="./assets/img/escalier-trottoir-de-beton_002.jpg" alt="Escalier de beton">
        <img src="./assets/img/balcon-de-beton_003.jpg" alt="Balcon-en-beton">
        <img src="./assets/img/balcon-de-beton_004.jpg" alt="Balcon-en-beton">
        <img src="./assets/img/patio2.jpeg" alt="Patio">
        <img src="./assets/img/patio.jpeg" alt="Patio-en-beton">
        <img src="./assets/img/piscine.jpeg" alt="Piscine">
    </div>
    <div class="alignleft" style="margin: 25px 0;">
        <h2>{{'concrete-basement' | translate}}</h2>
    </div>
    <div class="columns-02-5050">
        <img src="./assets/img/descente-de-sous-sol-en-beton_001.jpg" alt="Descente-de-sous-sol-en-beton">
        <img src="./assets/img/descente-de-sous-sol-en-beton_002.jpg" alt="Descente-de-sous-sol-laurentides">
        <img src="./assets/img/descente-de-sous-sol-en-beton_003.jpeg" alt="Descente-de-sous-sol-rive-nord">
    </div>
    <div class="alignleft" style="margin: 25px 0;">
        <h2>{{'realizations.p3' | translate}}</h2>
    </div>
    <div class="columns-02-5050">
        <img src="./assets/img/fondation-agrandissement-de-maison_001.jpg" alt="Agrandissement-fondation">
        <img src="./assets/img/fondation-agrandissement-de-maison_002.jpeg" alt="agrandissement-fondation-maison-laurentides">
    </div>
    <div class="alignleft" style="margin: 25px 0;">
        <h2>{{'realizations.p4' | translate}}</h2>
    </div>
    <div class="columns-03-333333">
        <img src="./assets/img/coffrage-beton-commercial_002.jpg" alt="Coffrage-en-beton-commercial">
        <img src="./assets/img/coffrage-beton-commercial_003.jpg" alt="Coffrage-beton-commercial-rive-nord">
        <img src="./assets/img/coffrage-beton-commercial_004.jpg" alt="Coffrage-beton-commercial-laurentides">
        <img src="./assets/img/coffrage-beton-commercial_005.jpg" alt="coffrage-beton-commercial-laurentides">
    </div>
</div>
    
