
<div style="display: grid;">
    <div style="text-align: center;"><h1>{{'realizations' | translate }}</h1></div>
    <div style="text-align: center;margin-left: auto;margin-right: auto;"><img src="./assets/img/about-swig.svg" alt="about"/></div>
</div>
<div class="container-95pct">
    <div class="insta-button">
        <a class="red-button" href="https://www.instagram.com/coffragesphoenix/" target="_blank" >{{'realizations.p5' | translate}} <i class="fa-brands fa-instagram"></i></a>
    </div>
    <div class="alignleft" style="margin: 30px 0;">
        <h2 class="header-1">{{'realizations.p1' | translate}}</h2>
    </div>
    <div class="columns-03-333333">
        <img ngOptimizedImage ngSrc="./assets/img/Marche-en-beton_001.jpg" 
        width="800" height="575" 
        alt="Marche-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/Marche-en-beton_002.jpg" 
        width="800" height="575" 
        alt="Marche-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/escalier-de-beton_001.jpg" 
        width="800" height="575" 
        alt="Marche-de-beton-laurentides" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/escalier-de-beton_002.jpg" 
        width="800" height="575" 
        alt="Marche-de-beton-lanaudiere" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/escalier-de-beton_003.jpeg" 
        width="800" height="575" 
        alt="Escalier-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/escalier-de-beton_004.jpeg" 
        width="800" height="575" 
        alt="Escalier-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/escalier-de-beton_005.jpeg" 
        width="800" height="575" 
        alt="Escalier-de-beton-laurentides" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/escalier-trottoir-de-beton_001.jpg" 
        width="800" height="575" 
        alt="Trottoir-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/escalier-trottoir-de-beton_002.jpg" 
        width="800" height="575" 
        alt="Escalier de beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/balcon-de-beton_003.jpg" 
        width="800" height="575" 
        alt="Balcon-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/balcon-de-beton_004.jpg" 
        width="800" height="575" 
        alt="Balcon-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/patio2.jpeg" 
        width="800" height="575" 
        alt="Patio" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/patio.jpeg" 
        width="800" height="575" 
        alt="Patio-en-beton" fetchPriority="high" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/piscine.jpeg" 
        width="800" height="575" 
        alt="Piscine" fetchPriority="high" loading="lazy">
    </div>
    <div class="alignleft" style="margin: 25px 0;">
        <h2>{{'concrete-basement' | translate}}</h2>
    </div>
    <div class="columns-02-5050">
        <img ngOptimizedImage ngSrc="./assets/img/descente-de-sous-sol-en-beton_001.jpg" 
            width="800" height="575" 
            alt="Descente-de-sous-sol-en-beton" loading="lazy">
        <img ngOptimizedImage ngSrc="./assets/img/descente-de-sous-sol-en-beton_002.jpg" 
            width="800" height="575" 
            alt="Descente-de-sous-sol-laurentides" loading="lazy">
        <img ngSrc="./assets/img/descente-de-sous-sol-en-beton_003.jpeg" 
            ngOptimizedImage width="800" height="575"
            alt="Descente-de-sous-sol-rive-nord" loading="lazy">
    </div>
    <div class="alignleft" style="margin: 25px 0;">
        <h2>{{'realizations.p3' | translate}}</h2>
    </div>
    <div class="columns-02-5050">
        <img  ngSrc="./assets/img/fondation-agrandissement-de-maison_001.jpg" 
            ngOptimizedImage width="800" height="575"
            alt="Agrandissement-fondation" fetchPriority="low" loading="lazy">
        <img  ngSrc="./assets/img/fondation-agrandissement-de-maison_002.jpeg" 
            ngOptimizedImage width="800" height="575"
            alt="agrandissement-fondation-maison-laurentides" fetchPriority="low" loading="lazy">
        <img  ngSrc="./assets/img/fondation-agrandissement-de-maison_003.jpg" 
            ngOptimizedImage width="800" height="575"
            alt="Agrandissement-fondation" fetchPriority="low" loading="lazy">
    </div>
</div>
    
