
<mat-drawer-container class="example-container" >
    <mat-drawer #drawer position="end" >
        <div class="mobile-nav">
            <div style="margin: 20px">
                <a [routerLink]="['/']" (click)="drawer.toggle()"><img class="" src="./assets/img/coffrages-phoenix.png" alt="Coffrages Phoenix"></a>
            </div>
            <mat-divider style="border-top-color:lightgray;"></mat-divider>
            <div><a [routerLink]="['/']" (click)="drawer.toggle()">{{'home' | translate}}</a></div>
            <mat-divider style="border-top-color:lightgray;"></mat-divider>
            <div><a [routerLink]="['/services']" (click)="drawer.toggle()">Services</a></div>
            <mat-divider style="border-top-color:lightgray;"></mat-divider>
            <div><a [routerLink]="['/realisation']" (click)="drawer.toggle()">{{'realizations' | translate}}</a></div>
            <mat-divider style="border-top-color:lightgray;"></mat-divider>
            <div><a [routerLink]="['/about']" (click)="drawer.toggle()">{{'Company' | translate}}</a></div>
            <mat-divider style="border-top-color:lightgray;"></mat-divider>
            <div><a [routerLink]="['/soumission']" (click)="drawer.toggle()">{{'quote' | translate}}</a></div>
            <mat-divider style="border-top-color:lightgray;"></mat-divider>
            <div><a [routerLink]="['/contact']" (click)="drawer.toggle()">Contact</a></div>
            <mat-divider style="border-top-color:lightgray;"></mat-divider>
            <div>
                <a (click)="english()" *ngIf="isFrench" style="cursor: pointer;">English</a>
                <a (click)="french()" *ngIf="!isFrench" style="cursor: pointer;">Français</a>
            </div>
            <button mat-button style="color: black; background-color: white;font-size: 45px;margin-top: 300px;" (click)="drawer.toggle()"><i class="fa-solid fa-x"></i></button>
        </div>
    </mat-drawer>
    <mat-drawer-content style="background-color: white;color:black" from>
        <header>
            <nav class="backgroundcolor-white">
                <div class="header-menu">
                    <div style="display: flex;">
                        <a [routerLink]="['/']"><img class="header-logo imagehover-01" src="./assets/img/coffrages-phoenix.png" alt="Coffrages Phoenix"></a>
                        <button class="mobile-nav-toggle" mat-button (click)="drawer.toggle()"><i class="fa-solid fa-bars"></i></button>
                    </div>
                    <div class="alignright">
                        <div class="navfont-menu fonthover-03">
                            <a [routerLink]="['/']">{{'home' | translate}}</a>&nbsp;&nbsp;&nbsp;
                            <a [routerLink]="['/services']">Services</a>&nbsp;&nbsp;&nbsp;
                            <a [routerLink]="['/realisation']">{{'realizations' | translate}}</a>&nbsp;&nbsp;&nbsp;
                            <a [routerLink]="['/about']">{{'Company' | translate}}</a>&nbsp;&nbsp;&nbsp;
                            <a [routerLink]="['/soumission']">{{'quote' | translate}}</a>&nbsp;&nbsp;&nbsp;
                            <a [routerLink]="['/contact']">Contact</a>&nbsp;&nbsp;&nbsp;
                            <a (click)="english()" *ngIf="isFrench" style="cursor: pointer;">English</a>
                            <a (click)="french()" *ngIf="!isFrench" style="cursor: pointer;">French</a>
                        </div>
                    </div>
                </div>
            </nav>
        </header>
        <mat-spinner class="center-spinner" *ngIf="loading"></mat-spinner>

        <div [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''" class="container">
            <router-outlet #o="outlet"></router-outlet>
        </div>
        <footer>
            <div class="backgroundcolor-04">
                <div class="spacer-010px"></div>
                <div class="container-95pct columns-03-333333-02 padding-050px">
                    <div class="alignleft">
                        <div class="contact-footer">
                            <p class="fonthover-04 bold" style="font-size: 24px;">Contact</p>
                            <a class="fonthover-02" href="https://goo.gl/maps/1Rt7NsX5vdQyU5Px9" target="_blank">
                                <i class="fa-solid fa-location-dot"></i>
                                <span>4635 Boulevard Laurier, Terrebonne, QC J6X 0B3</span>
                            </a>
                            <br>
                            <a class="fonthover-02" href="tel:5144442822" target="_blank">
                                <i class="fa-solid fa-phone"></i>
                                <span>(514) 444-2822</span>
                            </a>
                            <br>
                            <a class="fonthover-02" href="mailto:soumission@coffragesphoenix.com" target="_blank">
                                <i class="fa-solid fa-envelope"></i>
                                <span>soumission@coffragesphoenix.com</span>
                            </a>
                            <br>
                            <a class=" fonthover-02" href="https://www.pes.rbq.gouv.qc.ca/RegistreLicences/Recherche/Resultats/FicheDetenteur?mode=Entreprise&crit=r1TSc6INGEWKtcUK6jcX9%2FEByYB22EJQyiTukjrpiNiBdLFBdmxsUQD5hDhRnpniSWRgQPOq4Oq7AYd4UqvduXNoxS7GrtZarAE5%2FQv2Tj9k9EtXsKZODcycaRS2vCDNPQ6XfEMFITtraZrvf%2BgSWQG2ZQd26f%2F9iCC%2FshXaFqv2Tplg6MAvyTboSTIft7e33cBUYx4jvtTkdLE7nl7Qj%2FXFaR9nJKJop2SwbZ%2Bw1EkJU5lYBFYrRd66w6ZaK1j9UHBEbFSWwWDtitWSyW9oG%2FR8qsmoWXQ3Lj%2BNeuauxjEnfZlVte38j1e7zHo2fQZ7cQc2BQhv92H%2BoNAK2dTXsm4zXhHNlRNK5JIaMuMOPVx7xkcLzERt8Rz01Zdx1fxYygls%2F2hGPFS5KtAyWl%2B%2BaNIJVseUgh0dKfz6pngu2PVQXfElnsl21WgtLn2rFBn2348o6I8oWHDwiWEDjKXovBdrTiF7s3Pt7Muqj3%2FFBm8aDCenWm63j1KAA84%2BLsiKKx26vkGcqk6gmZJKND%2B9FIrVuojAigCQiV8WaFsmuoJz6QCMb5nFZ89sZ9cGDFx1Bj4HD0cmoecsPRPxK%2FwakuYE9udoQKbgHt33%2FOAElOx%2F5S5Pzll0GLizkWJU30%2BQB8DvrGZghjLa8WQE5Ipwh%2FXXqPpO4JyNj6I23i0%2FhQScLkTztdmYscoi7loU%2BolP&ent=gXYxonJPstEK4KHKVDSmWA%3D%3D" target="_blank">
                                <i class="fa-solid fa-id-card"></i>
                                <span>RBQ: 5801-4259-01</span>
                            </a>
                        </div>
                        <div class="reseaux-footer">
                            <p class="fonthover-04 bold" style="font-size: 24px;">{{'socials' | translate}}</p>
                            <a class="fonthover-02 reseau-button" href="https://www.facebook.com/coffragesphoenix/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                            <a class="fonthover-02 reseau-button" href="https://www.instagram.com/coffragesphoenix/" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
                            <a class="fonthover-02 reseau-button" href="https://twitter.com/CoffragePhoenix/" title="Twitter" target="_blank" ><i class="fa-brands fa-twitter"></i></a>
                        </div>
                        <div class="footer-spacer-001"></div>
                    </div>
                    
                    <div class="alignleft">
                        <div>
                            <p class="fonthover-04 bold" style="font-size: 24px;">Services</p>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-foundation' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-formwork' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-structure' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-all' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-balcony' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-staircase' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-basement' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-garage' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-dalle' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-repair' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">{{'concrete-foundation' | translate}}</a>
                            <br>
                            <a [routerLink]="['/marche-de-beton']" class="fonthover-04 lineheight-125" style="font-size: 17px;">Mini excavation</a>
                            <div class="footer-spacer-001"></div>
                        </div>
                    </div>
                    <div class="alignleft">
                        <div>
                            <p style="font-size: 24px;" class="fonthover-04 bold">{{'towns' | translate}} {{'served' | translate}}</p>
                            <p style="font-size: 16px;" class="fonthover-04 lineheight-125">
                                Blainville, Bois-des-Filion, Chertsey, Joliette, L'Assomption, L'Épiphanie, Lac Écho, Lac Siesta, 
                                Laurentides, Laval, Lorraine, Mascouche, Montréal, Rawdon, Repentigny, Rive-Nord, Rosemère, Saint-Alexis,
                                Saint-Calixte, Saint-Esprit, Saint-Eustache, Saint-Hippolyte, Saint-Jacques, Saint-Jérôme, Saint-Lin, 
                                Saint-Roch-de-L'Achigan, Sainte-Anne-des-Plaines, Sainte-Julienne, Sainte-Sophie, Sainte-Thérèse, Terrebonne
                            </p>
                        </div>
                    </div>
                </div>
            </div>
        </footer>
        <app-scroll-top></app-scroll-top>
</mat-drawer-content>
</mat-drawer-container>