<header>
    <nav class="backgroundcolor-white">
        <div class="header-menu">
            <div>
                <a [routerLink]="['/']"><img class="header-logo imagehover-01" src="./assets/coffrages-phoenix_500px.png" alt="Coffrages Phoenix"></a>
            </div>
            <div class="alignright">
                <div class="navfont-menu fonthover-03">
                    <a [routerLink]="['/']">ACCEUIL</a>&nbsp;&nbsp;&nbsp;
                    <a [routerLink]="['/realisation']">RÉALISATIONS</a>&nbsp;&nbsp;&nbsp;
                    <a [routerLink]="['/commercial']">COMMERCIAL</a>&nbsp;&nbsp;&nbsp;
                    <a [routerLink]="['/soumission']">SOUMISSION</a>&nbsp;&nbsp;&nbsp;
                    <a [routerLink]="['/contact']">CONTACT</a>
                </div>
            </div>
        </div>
    </nav>
</header>
<mat-spinner class="center-spinner" *ngIf="loading"></mat-spinner>

<div [@slideInAnimation]="o.isActivated ? o.activatedRoute : ''" class="container">
    <router-outlet #o="outlet"></router-outlet>
</div>
<footer>
    <div class="backgroundcolor-04">
        <div class="spacer-010px"></div>
        <div class="container-95pct columns-03-333333-02 padding-050px">
            <div class="alignleft">
                <div class="contact-footer">
                    <p class="opensans font-024 fonthover-04 bold" ><span>Contact</span></p>
                    <a class="fonthover-02 opensans font-018" href="https://goo.gl/maps/onLfca1AuNNfueGT9" target="_blank">
                        <i class="fa-solid fa-location-dot" style="padding-right: 25px;"></i>
                        <span class="">4625 Chem. Gascon, Mascouche, QC J7K 3C2</span>
                    </a>
                    <br>
                    <br>
                    <a class="fonthover-02 opensans font-018" href="tel:5144442822" target="_blank">
                        <i class="fa-solid fa-phone" style="padding-right: 25px;"></i>
                        <span class=""><a >514 444-2822</a></span>
                    </a>
                    <br>
                    <br>
                    <a class="fonthover-02 opensans font-018" href="mailto:soumission@coffragesphoenix.com" target="_blank">
                        <i class="fa-solid fa-envelope" style="padding-right: 25px;"></i>
                        <span class="">soumission@coffragesphoenix.com</span>
                    </a>

                </div>
                <div class="reseaux-footer">
                    <p class="opensans font-024 fonthover-04 bold"><span>Réseaux sociaux</span></p>
                    <a class="fonthover-02 reseau-button" href="https://www.facebook.com/coffragesphoenix/" target="_blank"><i class="fa-brands fa-facebook"></i></a>
                    <a class="fonthover-02 reseau-button" href="https://www.instagram.com/coffragesphoenix/" target="_blank" ><i class="fa-brands fa-instagram"></i></a>
                    <a class="fonthover-02 reseau-button" href="https://twitter.com/CoffragePhoenix/" title="Twitter" target="_blank" ><i class="fa-brands fa-twitter"></i></a>
                </div>
                <div class="footer-spacer-001"></div>
            </div>
            
            <div class="alignleft">
                <div>
                    <p class="opensans font-024 fonthover-04 bold"><span>Services</span></p>
                    <p class="opensans font-017 fonthover-04 lineheight-125">
                        <span>Balcon de béton</span><br>
                        <span>Coffrage de béton</span><br>
                        <span>Dalle de béton</span><br>
                        <span>Escalier de béton</span><br> 
                        <span>Fissure de béton</span><br>
                        <span>Fondation de béton</span><br>      
                        <span>Réparation de béton</span>
                    </p>
                    <div class="footer-spacer-001"></div>
                </div>
            </div>
            
            <div class="alignleft">
                <div>
                    <p class="opensans font-024 fonthover-04 bold">Villes et régions<br>deservies</p>
                    <p class="opensans font-016 fonthover-04 lineheight-125">
                        <span>Blainville</span>, 
                        <span>Bois-des-Fillion</span>,  
                        <span>Chertsey</span>, 
                        <span>Fontainebleau</span>,
                        <span>Joliette</span>,
                        <span>L'Assomption</span>,
                        <span>L'Épiphanie</span>,
                        <span>Lachenaie</span>, 
                        <span>La Plaine</span>, 
                        <span>Lac Écho</span>, 
                        <span>Lac Siesta</span>, 
                        <span>Laurentides</span>, 
                        <span>Laval</span>, 
                        <span>Lorraine</span>, 
                        <span>Mascouche</span>,
                        <span>Rawdon</span>,
                        <span>Repentigny</span>,  
                        <span>Rive-Nord</span>, 
                        <span>Rosemère</span>,
                        <span>Saint-Alexis</span>,
                        <span>Saint-Calixte</span>, 
                        <span>Saint-Esprit</span>,
                        <span>Saint-Eustache</span>,
                        <span>Saint-Hippolyte</span>, 
                        <span>Saint-Jacques</span>, 
                        <span>Saint-Jérôme</span>, 
                        <span>Saint-Lin</span>, 
                        <span>Saint-Roch-de-L'Achigan</span>,  
                        <span>Sainte-Anne-des-Plaines</span>, 
                        <span>Sainte-Julienne</span>,
                        <span>Sainte-Sophie</span>, 
                        <span>Sainte-Thérèse</span>,   
                        <span>Terrebonne</span>
                    </p>
                </div>
                <app-language-selector></app-language-selector>
            </div>
        </div>
    </div>
</footer>
<app-scroll-top></app-scroll-top>