<div class="slider">
    <div class="absolute container-91pct top-050px left-003pct">
        <p class="bebasneue specialfont-02 color-01">{{'home.h1'|translate}}<br>{{'home.h2'|translate}}</p>
        <p class="bebasneue specialfont-06 color-black">{{'home.h3'|translate}}<br> {{'home.h4'|translate}}<br></p>
        <div class="spacer-001"></div> 
        <a class="button-border" [routerLink]="['/soumission']">{{'QUOTE'|translate}}&nbsp; &#10095;</a>
        <a name="services"></a>  
    </div>
    <div id="slider2images">
	 <figure>
	    <img src="./assets/img/coffrage-de-beton-sainte-anne-des-plaines.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-sainte-anne-des-plaines">
	    <img src="./assets/img/coffrage-de-beton-saint-lin-laurentides.jpg" style="min-height:100px;max-height:850px;object-fit:cover;" alt="coffrage-de-beton-saint-lin-laurentides">
	 </figure>
  </div>
</div>
<div class="services container-1200px padding-060px" style="padding-bottom: 0;">
    <div class="columnswithgap-03">
        <div class="services-item">
            <h4>{{'home.p1'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/coffrage-de-beton.jpg" alt="Coffrage de béton">
            <div class="spacer-010px"></div>
            <p *ngIf="isFrench">Nos <strong>spécialistes expérimentés</strong> offrent une gamme de solutions
                de <strong>coffrage en béton</strong> pour répondre à tous <strong>vos besoins de construction</strong>. Nous travaillons avec différents types de <strong>coffrages</strong>
                pour <strong>vous aider à choisir la meilleure solution pour votre projet</strong>. Notre expertise et
                notre équipement de pointe, vous pouvez être assuré que votre projet sera entre de bonnes mains et que vous obtiendrez
                <strong>des résultats durables et esthétiquement satisfaisants</strong>.
            </p>
            <p *ngIf="!isFrench">Our <strong>experienced specialists</strong> offer a range of
                <strong>concrete formwork</strong> solutions to meet all <strong>your construction needs</strong>. We work with different types of
                <strong>formwork to help you choose the best solution for your project</strong>.
                Our expertise and advanced equipment ensure your project is well managed, lasting and aesthetic You can be confident that you will get satisfactory results.
            </p>
        </div>
        <div></div>
        <div class="services-item">
            <h4>{{'home.p2'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/fondation.jpg" alt="Fondation de béton">
            <p *ngIf="isFrench">
                Un composant essentiel qui soutient le poids de la structure complète sont les fondations en béton.
                Le béton est une substance de construction <strong>solide et durable</strong> qui peut résister aux tremblements de terre et aux éléments.
                Les fondations en béton sont une option flexible pour les projets de construction car elles peuvent être construites dans une
                variété de formes et de tailles pour répondre aux besoins particuliers d'une structure.
            </p>
            <p *ngIf="!isFrench">
                An essential component that supports the weight of the complete structure are the concrete foundations.
                A <strong>strong and long-lasting</strong> construction substance that can endure earthquakes and the elements is concrete.
                Concrete foundations are a flexible option for building projects because they can be constructed in a variety of forms and sizes to suit
                the particular requirements of a structure.
            </p>
        </div>  
        <div></div>
        <div class="services-item">
            <h4>{{'home.p4'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/agrandissement.jpg" alt="Réparation de béton">
            <a name="soumission"></a> 
            <p *ngIf="isFrench">
                Lorsque vous construisez une nouvelle extension à votre maison, choisissez des composants qui <strong>dureront et seront solides</strong>.
                En raison de sa <strong>durabilité</strong> et de son <strong>adaptabilité</strong>, le béton est un matériau préféré.
                C'est une <strong>excellente option</strong> pour les extensions de maison car il peut être utilisé pour les dalles de sol, les supports et les murs porteurs.
            </p>
            <p *ngIf="!isFrench">
                When constructing a new addition to your house, pick components that will <strong>last and be sturdy</strong>.
                Because of its <strong>durability and adaptability</strong>, concrete is a preferred material.
                It is a <strong>great option</strong> for house additions because it can be used for floor slabs, supports, and load-bearing walls.
            </p>
        </div> 
    </div>
    <div class="columnswithgap-03">
        <div class="services-item">
            <h4>{{'concrete-balcony'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/balcon-de-beton.jpg" alt="Balcon de béton">
            <p *ngIf="isFrench">
                En raison de leur <strong>solidité</strong>, de leur <strong>résistance</strong> et de leur capacité à <strong>résister aux intempéries</strong>, les balcons en béton sont courants.
                Le béton est une substance de construction <strong>fiable</strong> qui peut être façonnée et conçue de différentes manières pour s'adapter à tout type de maison.
                Les balcons en béton sont utiles pour les résidents à <strong>long terme</strong> car ils nécessitent peu d'entretien et peu de réparations.
            </p>
            <p *ngIf="!isFrench">
                Because of their <strong>sturdiness, power, and weather resilience</strong>, concrete balconies are common.
                Concrete is a <strong>reliable</strong> construction substance that can be shaped and designed in a wide range of ways to fit any type of house.
                Concrete balconies are useful for <strong>long-term</strong> residents because they require little maintenance and few repairs.
            </p>
        </div> 
        <div></div>
        <div class="services-item">
            <h4>{{'home.p3'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/descente-de-sous-sol-en-beton_003.png" alt="Sous-sol">
            <p *ngIf="isFrench">
                Lors de l'ajout d'une descente ou d'un accès au <strong>sous-sol</strong> de votre propriété,
                il est important de faire appel à des <strong>professionnels</strong> qualifiés pour planifier et installer votre <strong>descente en béton</strong>.
                Le béton est durable, résistant et facile à entretenir, ce qui le rend idéal pour les entrées de sous-sol utilisées régulièrement.
            </p>
            <p *ngIf="!isFrench">
                When adding a <strong>basement entrance</strong> or access to your property, it's important to enlist
		        qualified <strong>professionals</strong> to plan and install your <strong>concrete descent</strong>. Concrete is durable, strong, and easy to maintain,
		        making it ideal for basement entrances that are used regularly.
            </p>
        </div>  
        <div></div>
        <div class="services-item">
            <h4>{{'concrete-staircase'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/escalier-de-beton.jpg" alt="Escalier de béton">
            <p *ngIf="isFrench">
                L'une des choses les plus importantes lors de la fabrication d'un <strong>escalier de béton</strong> est le <strong>coffrage</strong>. 
                Un <strong>coffrage</strong> bien fait et l'utilisation d'une bonne qualité de béton assureront une solidité à toutes épreuves.
            </p>
            <p *ngIf="!isFrench">One of the most important things when making a <strong>concrete staircase</strong>
		    is the <strong>formwork</strong>. A well-made <strong>formwork</strong> and the use of good quality concrete will ensure solid durability.</p>
        </div>         
    </div>
    <div class="columnswithgap-03"style="padding-bottom: 60px;">
        <div class="services-item">
            <h4>{{'concrete-dalle'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/dalle.jpeg" alt="Balcon de béton">
            <p *ngIf="isFrench">
                Les allées, les patios et les trottoirs ne sont que quelques-uns des projets de construction qui utilisent des blocs de béton.
                Le béton est une substance courante pour les dalles car il est <strong>solide, durable et facile à entretenir</strong>.
                Les blocs de béton peuvent être personnalisés pour correspondre à <strong>votre style</strong> et à <strong>vos goûts visuels</strong>
                en utilisant une variété de finitions, de couleurs et de textures.
            </p>
            <p *ngIf="!isFrench">
                Driveways, patios, and walkways are just a few of the building projects that use concrete blocks.
                Concrete is a common substance for slabs because it is  <strong>strong, long-lasting, and simple to keep</strong>.
                Concrete blocks can be personalized to fit  <strong>your style and visual tastes</strong> using a variety of finishes, hues, and textures.
            </p>
        </div> 
        <div></div>
        <div class="services-item">
            <h4>Mini excavation</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/excavation.jpg" alt="Mini excavation">
            <p *ngIf="isFrench">Les mini-excavations sont souvent utilisées pour creuser des <strong>tranchées</strong>
                pour les conduites d'eau et des <strong>drains français</strong>, ainsi que pour la <strong>préparation de terrains</strong>.
                Les mini-excavateurs sont compacts et peuvent accéder à des espaces restreints, ce qui les rend pratiques
                pour les projets dans des <strong>zones urbaines denses</strong>. Ils sont également efficaces pour creuser à des profondeurs précises
                et pour effectuer <strong>des travaux délicats</strong> sur les propriétés existantes.
            </p>
            <p *ngIf="!isFrench">We also specialize in water pipe and <strong>French drain</strong> installations,
                as well as <strong>site preparation</strong>. Our mini-excavators are compact and can access restricted spaces,
                making them practical for projects in <strong>dense urban areas</strong>. They are also effective for digging at precise
                depths and for performing <strong>delicate work</strong> on existing properties.</p>
        </div>  
        <div></div>
        <div class="services-item">
            <h4>{{'repair'|translate}}</h4>
            <img class="imagehover-02 border-01px" src="./assets/img/reparation-de-fissure.jpg" alt="Réparation de béton">
            <a name="soumission"></a> 
            <p *ngIf="isFrench">
            Que ce soit pour la <strong>réparation</strong> d'une <strong>fondation</strong> d'une <strong>dalle</strong>, d'une <strong>fissure</strong> ou
            d'un <strong>escalier de béton</strong>, nous pouvons effectuer toutes sortes de <strong>réparations de béton</strong>. Il est important de la faire 
            réparer le plus rapidement possible afin d'éviter d'autres problèmes de plus grave.
            </p>
            <p *ngIf="!isFrench">Whether it's repairing a <strong>foundation</strong>, a <strong>slab</strong>, a <strong>crack</strong>, or
                a <strong>concrete staircase</strong>, we can perform all kinds of <strong>concrete repairs</strong>. It is important to repair it as soon as possible to avoid more serious problems.
            </p>
        </div> 
    </div>
    <app-soumission></app-soumission>
</div>
