<div style="display: grid;" class="about">
    <div style="text-align: center;">
        <h2 *ngIf="isFrench">Services <strong>coffrages</strong></h2>
        <h2 *ngIf="!isFrench"><strong>Formwork</strong> Services</h2>
    </div>
    <div style="text-align: center;margin-left: auto;margin-right: auto;"><img src="./assets/img/about-swig.svg" alt="about"/></div>

    <div class="desc">
        <div class="desc-img">
            <img src="./assets/img/balcon-de-beton_004.jpg" alt="Balcon-en-beton" width="780" height="759">
        </div>
        <div class="servces-desc-title">
            <h1 style="color:#545454;"><strong>{{'concrete-balcony' | translate}}</strong></h1>
            <hr>
            <p style="color: #1e1e1e;">{{'services.balcony' | translate }}</p>
        </div>
    </div>

    <app-soumission></app-soumission>
</div>
