<div style="display: grid;" class="about">
    <div style="text-align: center;">
        <h1 *ngIf="isFrench">Services <strong>coffrages</strong></h1>
        <h1 *ngIf="!isFrench"><strong>Formwork</strong> Services</h1>
    </div>
    <div style="text-align: center;margin-left: auto;margin-right: auto;"><img src="./assets/img/about-swig.svg" alt="about"/></div>

    <div class="desc">
        <div class="desc-img">
            <img src="./assets/img/descente-de-sous-sol-en-beton_003.jpeg" alt="Descente-de-sous-sol-rive-nord" width="780" height="759">
        </div>
        <div class="servces-desc-title">
            <h2 style="font-size: 37px !important;color:#545454;"><strong>{{'concrete-basement' | translate}}</strong></h2>
            <hr>
            <p style="color: #1e1e1e;">{{'services.basement' | translate }}</p>
        </div>
    </div>

    <app-soumission></app-soumission>
</div>
